/*style*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: rgba(168, 174, 247, 0.822);
}

form {
    margin-top: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 200px;
}

input, button {
    margin-top: 10px;
    padding: 5px;
}

header {
    background-color: #72807c;
    color: #fff;
    padding: 50px;
    text-align: center;
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    border: 1px solid;
    color:#fff
}

main {
    padding: 20px;
}

footer {
    background-color: #72807c;
    color: #2c046d;
    padding: 20px;
    text-align: center;
    height:fit-content;
    
}

section {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 50px;
}

h2 {
    color: #333;
    font-size: 24px;
}

p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

iframe {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}
div {
    width: 700px;
    padding: 20px;
    font-style: italic;

}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}